.user_registration {
  margin: 50px 500px;
  width: 390px;
  height: 360px;

  border: 1px solid lightgray;
  border-radius: 12px;
  padding: 5px;
  /* box-shadow: inset 0 -3em 4em rgb(255, 255, 255), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgb(255, 255, 255); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.user_registration h2 {
  margin: 2px 0;
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid black;
  font-weight: 100;
}
.input_method {
  /* padding: 10px; */
  margin-left: 60px;
  /* border: 1px solid lightgray; */
  border-radius: 8px;
  width: 250px;
  font-size: 5px;
}
/* .input_method:hover {
  border: 2px solid #4169e1;
}
.input_method:active {
  border: 2px solid #4169e1;
}
.input_method:focus-visible {
  border: 2px solid #4169e1;
} */
.user_registration p {
  color: red;
  font-size: 10px;
  margin-left: 74px;
  /* border: 1px solid blue; */
  padding:0;
}

.btn {
  margin: 10px 0 0 135px;
  padding: 8px 26px;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
}
.close_icon {
  font-size: 40px;
  border: none;
  background-color: white;
  margin-left: 1200px;
  margin-top: 50px;
  color: darkgrey;
  cursor: pointer;
}
